%text-field {
  display: block;
  width: 354px;
  height: 56px;
  padding: 16px 16px;
  font-size: 15px;
  outline: 0;
  color: #333333;
  border: 1px solid #b3cdf8;
  box-sizing: border-box;
  border-radius: 8px;
}

.text-field__input {
  @extend %text-field;
}

.text-field__input:focus {
  @extend %text-field;
  border-color: #5c98f1;
}

.text-field__input:invalid {
  @extend %text-field;
  border-color: #fb6262;
  background: url("../../../assets/error.svg") no-repeat 95% 50%;
}

.text-field__input--error {
  padding-top: 4px;
  padding-left: 5px;
  color: #fb6262;
  font-weight: 100;
  font-size: 13px;
}
